<div class="navbar navbar-default navbar-fixed-top" ng-init="getCurrentLocationDetails()">
	<div class="container">
		<a class="btn btn-danger pull-left f360-navbar-button" href="#/{{username}}/spots/list">
			<span class="glyphicon glyphicon-chevron-left"></span>
		</a>
		<a	class="btn btn-success pull-right f360-navbar-button"
			ng-click="create()">
			<span class="glyphicon glyphicon-ok"></span>
		</a>
		<div class="navbar-header">
			<span class="navbar-brand">New Spot</span>
		</div>
	</div>
</div>
Name
<input ng-model="newSpot.name" class="form-control" placeholder="Name" type="text"/>
<div class="row">
    <div class="col-xs-6">
        Latitude
        <input ng-model="newSpot.latitude" class="form-control" placeholder="0.00" type="number" pattern="[0-9]*.[0-9][0-9][0-9][0-9]" />
    </div>
    <div class="col-xs-6">
        Longitude
        <input ng-model="newSpot.longitude" class="form-control" placeholder="0.00" type="number" pattern="[0-9]*.[0-9][0-9][0-9][0-9]" />
    </div>
</div>
Street
<input ng-model="newSpot.street" class="form-control" placeholder="Street" type="text"/>
City
<input ng-model="newSpot.city" class="form-control" placeholder="City" type="text"/>
<div class="row">
    <div class="col-xs-6">
        State
        <input ng-model="newSpot.state" class="form-control" placeholder="State" type="text" />
    </div>
    <div class="col-xs-6">
        ZIP
        <input ng-model="newSpot.zip" class="form-control" placeholder="01234" type="number" pattern="[0-9][0-9][0-9][0-9][0-9]" />
    </div>
</div>
Country
<input ng-model="newSpot.country" class="form-control" placeholder="Country" type="text"/>
Water
<select ng-model="newSpot.water" class="form-control" placeholder="Water">
    <option value="Salt water">Salt water</option>
    <option value="Fresh water">Fresh water</option>
</select>
Species
<div angucomplete-alt id="ex1" placeholder="{{defaultSpecies.species === undefined ? 'Type of Species...' : defaultSpecies.commonName+ ' (' + defaultSpecies.species + ')'}}" pause="100" selected-object="newSpot.species" 
local-data="species" search-fields="CommonName,BracesLeft,ScientificName,Braces,BracesRight" title-field="CommonName,BracesLeft,ScientificName,BracesRight"  minlength="1" input-class="form-control"/> </div>
Notes
<textarea ng-model="newSpot.notes" class="form-control" placeholder="Notes">

</textarea>