.full {
    width: 100%;
    margin-top: 10px;
}

[type="number"] {
    text-align: right;
}

table tr:first-child td {
    border-top: none;
}

input[type=date] {
    width: 100%;
}

.f360-navbar-button {
    position: relative;
    top: 7px;
}

.f360-right-arrow {
    font-size: 1.5em;
}

.f360-nudge-left {
    position: relative;
    right: 5px;
}

.f360-nudge-down {
    position: relative;
    top: 5px;
}

.thumbs {
    width: 45%;
    float: left;
    margin-right: 10px;
    margin-top: 10px;
}

textarea.form-control {
    height: 150px;
    overflow-y: scroll;
}

.angucomplete-dropdown {
    border-color: #ececec;
    border-width: 1px;
    border-style: solid;
    border-radius: 2px;
    padding: 6px;
    cursor: pointer;
    z-index: 9999;
    position: absolute;
    margin-top: -6px;
    background-color: #cccccc;
    width: 93%;
    line-height: 1.6;
. box-sizing(border-box);
}

.angucomplete-row:hover {
    background-color: #85cff7;
}

#ex1_value:placeholder-shown {
    color: #555555;
}

#ex1_value::-webkit-input-placeholder {
    color: #555555;
}

#ex1_value:-moz-placeholder {
    color: #555555;
}

#ex1_value::-moz-placeholder {
    color: #555555;
}

#ex1_value:-ms-input-placeholder {
    color: #555555;
}

.f360-bar {
    background-color: red;
    height: 20px;
    color: white;
    font-weight: bold;
    padding-right: 5px;
}

.binary-sea {
    background-image: url(../../img/binary-sea.jpg);
    background-repeat: no-repeat;
    background-size: 250%;
    background-color: #002C56;
}
