<h2>
<a	href="#/login"
	class="btn btn-danger">
	Back
</a>
Register
</h2>
<input ng-model="newUser.username" class="form-control" placeholder="Username" />
<input ng-model="newUser.email" class="form-control" placeholder="Email" />
<input ng-model="newUser.password" class="form-control" placeholder="Password" type="password"/>
<input ng-model="newUser.password2" class="form-control" placeholder="Confirm Password" type="password"/>
<!--select ng-model="newUser.plan" class="form-control">
    <option value="">Choose Plan</option>
    <option value="ANGLER">Angler</option>
    <option value="PRO_ANGLER">Pro Angler</option>
</select-->
<button type="button" href="#register" ng-click="register()" class="btn btn-primary btn-block">
	Register
</button>
<span>{{message}}</span>