<style>
	.f360-navbar-button {
		position: relative;
		top: 7px;
	}
	.f360-right-arrow {
		font-size: 1.5em;
	}
</style>

<div class="navbar navbar-default navbar-fixed-top" role="navigation">
<div class="container">
<div class="navbar-header">
  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
    <span class="sr-only">Toggle navigation</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>
  <a class="navbar-brand" href="#/{{username}}/home">Home</a>
</div>
    <!-- Edits done here -->
<div class="collapse navbar-collapse">
  <ul class="nav navbar-nav">
    <!--li class="active"><a href="#">Home</a></li-->
    <li>
        <a href="#{{username}}/search/list">
			<span class="glyphicon glyphicon-search"> </span> Search
        </a>
	</li>
    <li>
        <a href="#{{username}}/reports">
			<span class="glyphicon glyphicon-align-left"> </span> Reports
        </a>

    </li>
    <li>
        <a href="#{{username}}/trip/list">
			<span class="glyphicon glyphicon-send"></span> Trips
        </a>
    </li>
    <li>
        <a href="#{{username}}/fish/list">
			<span class="glyphicon glyphicon-heart"></span> Fish
        </a>
    </li>
    <li>
        <a href="#{{username}}/spots/list">
			<span class="glyphicon glyphicon-map-marker"></span> Spots
        </a>
    </li>
    <li>
        <a href="#{{username}}/gear/list">
			<span class="glyphicon glyphicon-cog"></span> Gear
        </a>
    </li>
    <!--li><a href="#{{username}}/presentations/list">Presentations</a></li-->
    <li>
        <a href="#{{username}}/profile">
			<span class="glyphicon glyphicon-user"></span> Profile
        </a>
    </li>
      <li>
          <a ng-click="logout()" href="#">
			  <span class="glyphicon glyphicon-off"></span> Logout
          </a>
      </li>
      <!--li><a href="/browser.html">Browser</a></li-->
  </ul>
</div><!--/.nav-collapse -->
</div>
</div>

<table class="table">
	<tr ng-repeat="event in events | orderBy : 'lastUpdated' : true">
		<td ng-switch="event.type">
			
			<span ng-switch-when="TRIP">
				<a class="pull-right" href="#/{{event.username}}/trip/{{event._id}}/editFromHome">
					<span class="glyphicon glyphicon-pencil"></span>
				</a>
				<a href="#/{{event.username}}/trip/{{event._id}}/fish/list">
				<!--a href="#/{{event.username}}/trip/{{event._id}}/editFromHome"-->
				<!--a href="#/{{event.username}}/trip/{{event._id}}/listFromHome"-->
					<span>
						<span class="glyphicon glyphicon-send"></span>
						{{event.title}}</span><br/>
					<span>{{event.start | date : MMMdyyy}}</span> - 
					<span>{{event.end | date : MMMdyyy}}</span>
				</a>
			</span>
			
			<span ng-switch-when="FISH">
				<a class="pull-right" href="#/{{event.username}}/trip/{{event.trip_id}}/fish/{{event._id}}/editFromHome">
					<span class="glyphicon glyphicon-pencil"></span>
				</a>
				<a href="#/{{event.username}}/trip/{{event.trip_id}}/fish/{{event._id}}/editFromHome">
					<span class="glyphicon glyphicon-heart"></span>
					{{event.commonName}} ({{event.species}})<br />
                    <span ng-show="event.weight">{{event.weight}} {{weightUnits}}</span><span ng-show="event.length">, {{event.length}} {{lengthUnits}}</span>
				</a>
			</span>

			<span ng-switch-when="SPOT">
				<a class="pull-right" href="#/{{event.username}}/spots/{{event._id}}/edit">
					<span class="glyphicon glyphicon-pencil"></span>
				</a>
				<a href="#/{{event.username}}/spots/{{event._id}}/edit">
					<span class="glyphicon glyphicon-map-marker"></span>
					{{event.name}}
				</a>
			</span>

			<span ng-switch-when="GEAR">
				<a class="pull-right" href="#/{{event.username}}/gear/{{event._id}}/edit">
					<span class="glyphicon glyphicon-pencil"></span>
				</a>
				<a href="#/{{event.username}}/gear/{{event._id}}/edit">
					<span class="glyphicon glyphicon-cog"></span>
					{{event.name}}
				</a>
			</span>

		</td>
	</tr>
</table>
