<style>
	.f360-navbar-button {
		position: relative;
		top: 7px;
	}
	input[type=date] {
		width: 100%;
	}
</style>
<div class="navbar navbar-default navbar-fixed-top">
	<div class="container">
		<back-button></back-button>
		<!--a	href="#/{{username}}/trip/{{tripId}}/fish/list" class="btn btn-danger pull-left f360-navbar-button">
			<span class="glyphicon glyphicon-chevron-left"></span>
		</a-->
		<a	href="#" class="btn btn-success pull-right f360-navbar-button"
			ng-click="create()">
			<span class="glyphicon glyphicon-ok"></span>
		</a>
		<div class="navbar-header">
			<span class="navbar-brand">New Fish</span>
		</div>
	</div>
</div>
Date Caught
<input ng-model="newFish.caught" class="form-control" type="date"/>
Time Caught
<input ng-model="newFish.caughtTime" class="form-control" type="time"/>
Species
<select ng-model="newFish.species" class="form-control" placeholder="Species">
	<option ng-repeat="species in speciess" value="{{species.scientific}}">{{species.common}} ({{species.scientific}})</option>
</select>
Weight
<input ng-model="newFish.weight" class="form-control" placeholder="0.00"  type="number" format="number"/>
Length
<input ng-model="newFish.length" class="form-control" placeholder="0.00" type="number" format="number"/>
Girth
<input ng-model="newFish.girth" class="form-control" placeholder="0.00" type="number" format="number"/>
Spot
<input ng-model="newFish.spot" class="form-control" placeholder="Spot"/>
Presentation
<input ng-model="newFish.presentation" class="form-control" placeholder="0.00"/>
Water Depth
<input ng-model="newFish.waterDepth" class="form-control" placeholder="0.00" type="number" format="number"/>
Water Temperature
<input ng-model="newFish.waterTemperature" class="form-control" placeholder="0.00" type="number" format="number"/>
Water Clarity
<input ng-model="newFish.waterClarity" class="form-control" placeholder="0.00" type="number" format="number"/>
Sunrise Time
<input ng-model="newFish.sunriseTime" class="form-control" type="time"/>
Sunset Time
<input ng-model="newFish.sunsetTime" class="form-control" type="time"/>
Moonrise Time
<input ng-model="newFish.moonriseTime" class="form-control" type="time"/>
Moonset Time
<input ng-model="newFish.moonsetTime" class="form-control" type="time"/>
Notes
<textarea ng-model="newFish.notes" class="form-control" placeholder="Notes">

</textarea>
<input type="hidden" ng-model="newFish.trip_id"/>