<div class="navbar navbar-default navbar-fixed-top">
	<div class="container">
		<!--back-button></back-button-->
		<a href="#/{{username}}/trip/list" class="btn btn-danger pull-left f360-navbar-button">
			<span class="glyphicon glyphicon-chevron-left"></span>
		</a>
		<a	href="#" class="btn btn-success pull-right f360-navbar-button" ng-click="update()">
			<span class="glyphicon glyphicon-ok"></span>
		</a>
        <a	ng-show="editTrip.images"
              class="btn btn-warning pull-right f360-navbar-button f360-nudge-left"
              href="#/{{username}}/trip/{{editTrip._id}}/photos">
            <span class="glyphicon glyphicon-camera"></span>
        </a>

        <div class="navbar-header">
			<span class="navbar-brand">Edit Trip</span>
		</div>
	</div>
</div>
Title
<input ng-model="editTrip.title" class="form-control" placeholder="Title"/>
Start Date/Time
<div class="row">
    <div class="col-xs-6">
        <input ng-model="editTrip.start" class="form-control" type="date" />
    </div>
    <div class="col-xs-6">
        <input ng-model="editTrip.startTime" class="form-control" type="time" />
    </div>
</div>
End Date/Time
<div class="row">
    <div class="col-xs-6">
        <input ng-model="editTrip.end" class="form-control" type="date" />
    </div>
    <div class="col-xs-6">
        <input ng-model="editTrip.endTime" class="form-control" type="time" />
    </div>
</div>
Notes
<textarea ng-model="editTrip.notes" class="form-control" placeholder="Notes"></textarea>

<div ng-show="editTrip.images">
    Photos
    <a href="#/{{username}}/trip/{{editTrip._id}}/photos" class="btn btn-success btn-block">
        View Photos
    </a>
</div>

Upload Photo
<form id="uploadForm"
      enctype="multipart/form-data"
      action="/trip/photo"
      method="post">
    <input type="hidden" name="username"  value="{{username}}"/>
    <input type="hidden" name="tripId"    value="{{editTrip._id}}"/>
    <input type="file"   name="userPhoto" class="form-control"/>
    <!--input type="submit" value="Upload Image" name="submit"-->
    <button type="submit" class="btn btn-primary btn-block">Upload Image</button>
</form>
<!--a	href="#/{{editTrip.username}}/trip/{{editTrip._id}}/edit"-->
<button class="btn btn-danger btn-block f360-navbar-button" ng-click="remove()">
	Delete
</button>
