<div class="navbar navbar-default navbar-fixed-top">
	<div class="container">
		<!--back-button></back-button-->
		<a href="#/{{username}}/home" class="btn btn-danger pull-left f360-navbar-button">
			<span class="glyphicon glyphicon-chevron-left"></span>
		</a>
		<a href="#/{{username}}/trip/new" class="btn btn-success pull-right f360-navbar-button">
			<span class="glyphicon glyphicon-plus"></span>
		</a>
		<div class="navbar-header">
			<span class="navbar-brand">Trips</span>
		</div>
	</div>
</div>
<div class="alert alert-info" ng-show="!trips || !trips.length">Please add a trip</div>
<table class="table">
	<tr ng-repeat="trip in trips | orderBy : 'lastUpdated' : true">
		<td>
			<a class="pull-right" href="#/{{username}}/trip/{{trip._id}}/edit">
				<!-- added edit button here -->
				<span class="glyphicon glyphicon-pencil"></span>
			</a>
			<a href="#/{{username}}/trip/{{trip._id}}/fish/list">
				<span>{{trip.title}}</span><br/>
				<span>{{trip.start | date : MMMdyyy}}</span> - 
				<span>{{trip.end | date : MMMdyyy}}</span>
				<span class="pull-right">Fish: {{trip.fishCount || '0'}}</span>
			</a>
		</tr>
	</tr>
</table>