<div class="navbar navbar-default navbar-fixed-top">
	<div class="container">
        <a class="btn btn-danger pull-left f360-navbar-button" href="#/{{username}}/trip/{{tripId}}/edit">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <!--a class="btn btn-success pull-right f360-navbar-button">
			<span class="glyphicon glyphicon-plus"></span>
		</a-->
		<div class="navbar-header">
			<span class="navbar-brand">Trip Photos</span>
		</div>
	</div>
</div>

<a ng-repeat="img in trip.images" href="#/{{username}}/trip/{{tripId}}/photos/{{$index}}">
    <img width="49%" ng-src="/uploads/thm_{{img}}" style="margin-bottom: 5px"/>
</a>
