<div class="navbar navbar-default navbar-fixed-top">
	<div class="container">
        <a class="btn btn-danger pull-left f360-navbar-button" href="#/{{username}}/trip/{{tripId}}/photos">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="btn btn-danger pull-right f360-navbar-button" ng-click="removePhoto()">
            <span class="glyphicon glyphicon-remove"></span>
        </a>
		<div class="navbar-header">
			<span class="navbar-brand">Trip Photo</span>
		</div>
	</div>
</div>

<img ng-src="/uploads/{{photo}}" class="full"/>
