<style>
	.f360-navbar-button {
		position: relative;
		top: 7px;
	}
	.f360-right-arrow {
		font-size: 1.5em;
	}
</style>
<div class="navbar navbar-default navbar-fixed-top">
	<div class="container">
		<!--back-button></back-button-->
        <a href="#/{{username}}/home" class="btn btn-danger pull-left f360-navbar-button">
			<span class="glyphicon glyphicon-chevron-left"></span>
		</a>

		<a href="#/{{username}}/gear/new" class="btn btn-success pull-right f360-navbar-button">
			<span class="glyphicon glyphicon-plus"></span>
		</a>
		<div class="navbar-header">
			<span class="navbar-brand">Gear</span>
		</div>
	</div>
</div>

<div	ng-show="!gears || !gears.length"
		class="alert alert-info"
		role="alert">
	Please add Gear
</div>

<select ng-show="gears || gears.length" ng-model="presentationType" class="form-control" style="margin-top:5px">
    <option value="">All</option>
    <option>Rod</option>
	<option>Reel</option>
	<option>Line</option>
	<option>Leader</option>
	<option>Presentation</option>
</select>

<table class="table">
	<tr ng-repeat="gear in gears | orderBy : 'lastUpdated' : true | filter : gear.gearType = presentationType">
		<td>
			<a class="pull-right" href="#/{{username}}/gear/{{gear._id}}/edit">
				<span class="glyphicon glyphicon-chevron-right"></span>
			</a>
			<a href="#/{{username}}/gear/{{gear._id}}/edit">
				{{gear.name}}
			</a>
		</td>
	</tr>
</table>