<div class="navbar navbar-default navbar-fixed-top">
	<div class="container">
		<!--<back-button></back-button>-->
		<a href="#/{{username}}/gear/list" class="btn btn-danger pull-left f360-navbar-button">
			<span class="glyphicon glyphicon-chevron-left"></span>
		</a>
		<a	class="btn btn-success pull-right f360-navbar-button"
			ng-click="create()">
			<span class="glyphicon glyphicon-ok"></span>
		</a>
		<div class="navbar-header">
			<span class="navbar-brand">New Gear</span>
		</div>
	</div>
</div>

Gear Type
<select ng-model="gear.gearType" class="form-control">
    <option>Rod</option>
    <option>Reel</option>
    <option>Line</option>
    <option>Leader</option>
    <option>Presentation</option>
</select>

<div ng-show="gear.gearType == 'Rod'">
    Rod Type
    <select ng-model="gear.type" class="form-control">
        <option>Spinning</option>
        <option>Casting</option>
        <option>Fly</option>
    </select>
</div>
<div ng-show="gear.gearType == 'Reel'">
    Reel Type
    <select ng-model="gear.type" class="form-control">
        <option>Spinning</option>
        <option>Casting</option>
        <option>Fly</option>
    </select>
</div>
<div ng-show="gear.gearType == 'Line'">
    Line Type
    <select ng-model="gear.type" class="form-control">
        <option>Braid</option>
        <option>Monofilament</option>
        <option>Fluorocarbon</option>
        <option>Fly</option>
    </select>
</div>

Name
<input ng-model="gear.name" class="form-control" placeholder="Name" type="text" />

<div ng-show="gear.gearType == 'Presentation'">
	Presentation Type
	<select ng-model="gear.presentation.presentationType" class="form-control">
		<option>Lure</option>
		<option>Fly</option>
		<option>Bait</option>
	</select>
	<div ng-show="gear.presentation.presentationType == 'Lure'">
		Description
		<input ng-model="gear.presentation.description" class="form-control" placeholder="Description" type="text" />
<!--		Manufacturer
		<input ng-model="gear.presentation.manufacturer" class="form-control" placeholder="Manufacturer" type="text" />
-->
		Model
		<input ng-model="gear.presentation.model" class="form-control" placeholder="Model" type="text" />
		Color
		<input ng-model="gear.presentation.color" class="form-control" placeholder="Color" type="text" />
		Length
		<input ng-model="gear.presentation.length" class="form-control" placeholder="Length" type="text" />
		Weight
		<input ng-model="gear.presentation.weight" class="form-control" placeholder="Weight" type="text" />
	</div>
	<div ng-show="gear.presentation.presentationType == 'Fly'">
		Description
		<input ng-model="gear.presentation.description" class="form-control" placeholder="Description" type="text" />
		Pattern
		<input ng-model="gear.presentation.pattern" class="form-control" placeholder="Pattern" type="text" />
		Color
		<input ng-model="gear.presentation.color" class="form-control" placeholder="Color" type="text" />
	</div>
	<div ng-show="gear.presentation.presentationType == 'Bait'">
		Description
		<input ng-model="gear.presentation.description" class="form-control" placeholder="Description" type="text" />
	</div>
</div>

<div ng-show="gear.gearType == 'Rod' || gear.gearType == 'Reel' || gear.gearType == 'Line' || gear.presentation.presentationType == 'Lure'">
	Manufacturer
	<input ng-model="gear.manufacturer" class="form-control" placeholder="Manufacturer" type="text" />
	Model
	<input ng-model="gear.model" class="form-control" placeholder="Model" type="text" />
</div>

<!-- ROD { -->
<div ng-show="gear.gearType == 'Rod'">
    Length
    <input ng-model="gear.length" class="form-control" placeholder="Name" type="text" />
    Action
    <input ng-model="gear.action" class="form-control" placeholder="Name" type="text" />
    Power
    <input ng-model="gear.power" class="form-control" placeholder="Name" type="text" />
    Pieces
    <input ng-model="gear.pieces" class="form-control" placeholder="Name" type="text" />
</div>
<!-- } ROD -->

<div ng-show="gear.gearType == 'Reel'">
    Weight
    <input ng-model="gear.weight" class="form-control" placeholder="Weight" type="text" />
    Gear Ratio
    <input ng-model="gear.gearRatio" class="form-control" placeholder="Gear Ratio" type="text" />
    Line Capacity
    <input ng-model="gear.lineCapacity" class="form-control" placeholder="Line Capacity" type="text" />
    Max Drag
    <input ng-model="gear.maxDrag" class="form-control" placeholder="Max Drag" type="text" />
</div>

<div ng-show="gear.gearType=='Line'">
    Strength
    <input ng-model="gear.strength" class="form-control" placeholder="Strength" type="text" />
    Color
    <input ng-model="gear.color" class="form-control" placeholder="Color" type="text" />
</div>

<div ng-show="gear.gearType == 'Leader'">
    Line
    <input ng-model="gear.line" class="form-control" placeholder="Line" type="text" />
</div>

<div ng-show="gear.gearType != 'Leader'">
    Description
    <textarea ng-model="gear.description" class="form-control" placeholder="Description"></textarea>
</div>

Notes
<textarea ng-model="gear.notes" class="form-control" placeholder="Notes"></textarea>
