<style>
	.f360-navbar-button {
		position: relative;
		top: 7px;
	}
</style>

<div class="navbar navbar-default navbar-fixed-top">
	<div class="container">
		<a	href="#/{{username}}/home" class="btn btn-danger pull-left f360-navbar-button">
			<span class="glyphicon glyphicon-chevron-left"></span>
		</a>
		<a	href="#" class="btn btn-success pull-right f360-navbar-button" ng-click="update()">
			<span class="glyphicon glyphicon-ok"></span>
		</a>
		<div class="navbar-header">
			<span class="navbar-brand">Edit Fish</span>
		</div>
	</div>
</div>

Caught Date/Time
<div class="row">
    <div class="col-xs-6">
        <input ng-change="loadMoonPhase()" ng-model="editFish.caught" class="form-control" type="date" />
    </div>
    <div class="col-xs-6">
        <input ng-model="editFish.caughtTime" class="form-control" type="time" />
    </div>
</div>
Species
<div angucomplete-alt id="ex1" placeholder="{{editFish.commonName}} ({{editFish.species}})" pause="100" selected-object="editFish.species" local-data="species" search-fields="CommonName,BracesLeft,ScientificName,Braces,BracesRight" title-field="CommonName,BracesLeft,ScientificName,BracesRight"  minlength="1" input-class="form-control"/> </div>
Spots
<select ng-change="loadMoonPhase()" ng-model="editFish.spot" class="form-control" placeholder="Species">
    <option ng-repeat="spot in spots" value="{{spot._id}}">{{spot.name}}</option>
</select>

<br/>

<div class="panel panel-default">
	<div class="panel-heading" data-toggle="collapse" data-target="#gear">
		<h3 class="panel-title">
			Gear
		</h3>
	</div>
	<div id="gear" class="collapse">
		<div class="panel-body">

			Rod
			<select ng-model="editFish.gear" class="form-control" placeholder="Gear">
				<option ng-repeat="gear in gears | filter : gear.gearType = 'Rod'" value="{{gear.name}}">{{gear.name}}</option>
			</select>
			Reel
			<select ng-model="editFish.gear" class="form-control" placeholder="Gear">
				<option ng-repeat="gear in gears | filter : gear.gearType = 'Reel'" value="{{gear.name}}">{{gear.name}}</option>
			</select>
			Line
			<select ng-model="editFish.gear" class="form-control" placeholder="Gear">
				<option ng-repeat="gear in gears | filter : gear.gearType = 'Line'" value="{{gear.name}}">{{gear.name}}</option>
			</select>
			Leader
			<select ng-model="editFish.gear" class="form-control" placeholder="Gear">
				<option ng-repeat="gear in gears | filter : gear.gearType = 'Leader'" value="{{gear.name}}">{{gear.name}}</option>
			</select>
			Presentation
			<select ng-model="editFish.gear" class="form-control" placeholder="Gear">
				<option ng-repeat="gear in gears | filter : gear.gearType = 'Presentation'" value="{{gear.name}}">{{gear.name}}</option>
			</select>

		</div>
	</div>
</div>

<div class="panel panel-default">
	<div class="panel-heading" data-toggle="collapse" data-target="#size">
		<h3 class="panel-title">
			Size
		</h3>
	</div>
	<div id="size" class="collapse">
		<div class="panel-body">

			Weight
			<input ng-model="editFish.weight" class="form-control f360-number" placeholder="0.00" type="number" format="number" pattern="[0-9]*"/>
			Length
			<input ng-model="editFish.length" class="form-control f360-number" placeholder="0.00" type="number" format="number" pattern="[0-9]*"/>
			Girth
			<input ng-model="editFish.girth" class="form-control f360-number" placeholder="0.00" type="number" format="number" pattern="[0-9]*"/>
			Water Depth
			<input ng-model="editFish.waterDepth" class="form-control f360-number" placeholder="0.00" type="number" format="number" pattern="[0-9]*"/>
			Water Temperature
			<input ng-model="editFish.waterTemperature" class="form-control f360-number" placeholder="0.00" type="number" format="number" pattern="[0-9]*"/>
			Water Clarity
			<input ng-model="editFish.waterClarity" class="form-control f360-number" placeholder="0.00" type="number" format="number" pattern="[0-9]*"/>

		</div>
	</div>
</div>

<div class="panel panel-default">
	<div class="panel-heading" data-toggle="collapse" data-target="#water">
		<h3 class="panel-title">
			Water
		</h3>
	</div>
	<div id="water" class="collapse">
		<div class="panel-body">

			<div class="row">
				<div class="col-xs-4">
					Water Depth
					<input ng-model="editFish.waterDepth" class="form-control f360-number" placeholder="0.00" type="number" format="number" pattern="[0-9]*"/>
				</div>
				<div class="col-xs-4">
					Temperature
					<input ng-model="editFish.waterTemperature" class="form-control f360-number" placeholder="0.00" type="number" format="number" pattern="[0-9]*"/>
				</div>
				<div class="col-xs-4">
					Clarity
					<input ng-model="editFish.waterClarity" class="form-control f360-number" placeholder="0.00" type="number" format="number" pattern="[0-9]*"/>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="panel panel-default">
	<div class="panel-heading" data-toggle="collapse" data-target="#sunmoon">
		<h3 class="panel-title">
			Sun &amp; Moon
		</h3>
	</div>
	<div id="sunmoon" class="collapse">
		<div class="panel-body">

			<div ng-show="!editFish.sunriseTime"
				 class="alert alert-success">
				Please select a date and spot
			</div>

			<div ng-show="editFish.sunriseTime">

				<div class="row">
					<div class="col-xs-6">
						Sunrise
						<input ng-model="editFish.sunriseTime" class="form-control" type="text" readonly/>
					</div>
					<div class="col-xs-6">
						Sunset
						<input ng-model="editFish.sunsetTime" class="form-control" type="text" readonly/>
					</div>
				</div>

				<div class="row">
					<div class="col-xs-6">
						Moonrise
						<input ng-model="editFish.moonriseTime" class="form-control" type="text" readonly/>
					</div>
					<div class="col-xs-6">
						Moonset
						<input ng-model="editFish.moonsetTime" class="form-control" type="text" readonly/>
					</div>
				</div>

				Moon Phase
				<input ng-model="editFish.moonphase" class="form-control" type="text" readonly/>

			</div>

		</div>
	</div>
</div>

<div class="panel panel-default">
	<div class="panel-heading" data-toggle="collapse" data-target="#weather-collapse">
		<h3 class="panel-title">
			Weather
		</h3>
	</div>
	<div id="weather-collapse" class="collapse">
		<div class="panel-body">
			<div ng-show="!weather"
				 class="alert alert-success">
				Please select a date and spot
			</div>

			<table ng-if="weather" class="table">
				<tbody>
				<tr>
					<td>Air Temp. (min/max)</td>
					<td>{{weather[0].mintempF}} &#8457; / {{weather[0].maxtempF}} &#8457;</td>
				</tr>
				<tr>
					<td>Wind Speed</td>
					<td>{{weather[0].hourly[0].windspeedMiles}} mph {{weather[0].hourly[0].winddir16Point}}</td>
				</tr>
				<tr>
					<td>Pressure</td>
					<td>{{weather[0].hourly[0].pressure}}</td>
				</tr>
				<tr>
					<td>Precipation</td>
					<td>{{weather[0].hourly[0].precipMM}} mm</td>
				</tr>
				<tr>
					<td>Sky</td>
					<td>
							<span ng-repeat="desc in weather[0].hourly[0].weatherDesc">
								{{desc.value}}
							</span>
					</td>
				</tr>
				<tr>
					<td>Water Temperature</td>
					<td>{{weather[0].hourly[0].waterTemp_F}} &#8457;</td>
				</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>

<div class="panel panel-default">
	<div class="panel-heading" data-toggle="collapse" data-target="#collapse1">
		<h3 class="panel-title">
			Tide
		</h3>
	</div>
	<div id="collapse1" class="collapse">
		<div class="panel-body">

			<div ng-show="!peaks"
				 class="alert alert-success">
				Please select a date and spot
			</div>

			<table ng-show="peaks"
				   class="table">
				<thead>
				<tr>
					<th>Hi/Lo</th>
					<th>Time</th>
					<th>Height</th>
				</tr>
				</thead>
				<tbody>

				<tr ng-repeat="peak in peaks">
					<td>
						{{peak.type}}
					</td>
					<td>
						{{peak.date | date : 'h:mm a'}}
					</td>
					<td>
						{{peak.height * 3.28084 | number : 2}}'
					</td>
				</tr>
				</tbody>
			</table>

		</div>
	</div>
</div>
Notes
<textarea ng-model="editFish.notes" class="form-control" placeholder="Notes">

</textarea>
<a	href="#"
	ng-click="remove()"
	class="btn btn-danger btn-block">
	Delete
</a>
